<!-- MOVED COMMENTS SECTION TO SHOW PAGE -->


<!-- <%- include("../partials/header") %>

<div class="container">
  <div style="text-align: center;" class="row">
    <h1>Create New Comment to <%= campground.name %></h1>
    <div style="">
      <a href="/campgrounds">Go Back</a>
    </div>
  </div>
</div>

<%- include("../partials/footer") %> -->