<%- include("partials/header") %>

<div class="login__container">
  <h1 class="login__title">Login Page</h1>

  <form class="login__form" action="/login" method="post">
    <input class="login" type="text" name="username" placeholder="Email" autocomplete="off">
    <input class="login" type="password" name="password" placeholder="Password" autocomplete="off">
    <button class="btn btn-success">Submit</button>
  </form>
</div>
<%- include("partials/footer") %>