<%- include("partials/header") %>

<h1>Log In Page</h1>

<form action="/login" method="post">
  <input type="text" name="username" placeholder="Username" autocomplete="off">
  <input type="password" name="password" placeholder="Password" autocomplete="off">
  <button>Submit</button>
</form>

<%- include("partials/footer") %>