<%- include("partials/header") %>

<h1>Sign Up Page</h1>

<form action="/register" method="post">
  <input type="text" name="username" placeholder="Email" autocomplete="off">
  <input type="password" name="password" placeholder="Password" autocomplete="off">
  <button>Submit</button>
</form>

<%- include("partials/footer") %>