body {
  background-color: #fceed6;
  font-family: "Roboto";
  text-align: center;
}


.container-view {
  max-width: 900px;
  margin: auto;
}

.thumbnail {
  border-radius: 1em;
  background-color: #d6e0b8;
  box-shadow:
    0 2.8px 2.2px rgba(0, 0, 0, 0.014),
    0 6.7px 5.3px rgba(0, 0, 0, 0.028),
    0 12.5px 10px rgba(0, 0, 0, 0.05),
    0 22.3px 17.9px rgba(0, 0, 0, 0.052),
    0 41.8px 33.4px rgba(0, 0, 0, 0.066),
    0 10px 10px rgba(0, 0, 0, 0.08);
}

.thumbnail img {
  width: 100%;
  border-radius: 1em;
}

.thumbnail__comment,
.thumbnail__username {
  text-align: left;
}


.img {
  width: 600px;
}

.navbar__user {
  letter-spacing: 0.7px;
}

.thumbnail {
  padding: 0;
}

.thumbnail__name {
  color: #247FA8;
  font-size: 2em;
}

.thumbnail__description {
  font-size: 1.2em;
  margin-top: 1.5em;
  padding: 0 2em;
}

.delete {
  display: inline;
}

.navbar-default .navbar-brand,
.navbar-default .navbar-nav>li>a {
  color: white;
  font-size: 1.2em;
}

.navbar-default .navbar-brand {
  font-size: 1.7em;
}

.navbar {
  background-color: #537049;
  margin: 0;
  border: 0;
  border-radius: 0;
}

.jumbotron {
  background-color: #b2c08b;
  padding-bottom: 1.5em;
}

.jumbotron__container {
  display: flex;
  justify-content: space-evenly;
  margin-top: 3em;
}

/* LOGIN */

.login__container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 96vh;
  background-image: url('../img/national-min.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 20%
}

.login__title {
  color: white;
  border-radius: 3px;
  padding: 0.2em 0.3em;
  margin-bottom: 0.5em;
  font-size: 4.5em;
}

.login__form {
  width: 25em;
}

.login {
  display: block;
  margin: auto;
  margin-bottom: 0.5em;
  line-height: 2em;
  width: 65%;
  text-align: center;
}

/* COMMENT */

.comment {
  text-align: center;
}